@CHARSET "utf-8";

body,html {
	margin: 0px;
	font-size: 12px;
	text-align: center;
	padding: 0px;
	font-family:"微软雅黑";
	overflow-y:hidden;
}

.container {
	width: 579px;
	_width: 559px;
	height: auto;
	padding: 0px;
	font-size: 12px;
	text-align: left;
}

.content {
	overflow-y:auto;
	font-size: 12px;
	float: left;
	background: #fff;
	width: 579px;
	_width: 559px;
	padding: 0px;
	margin: 0px;
	height: 135px;
	_height: 135px;
}

.c_l {
	font-size: 12px;
	float: left;
	background: url(images/message.png) no-repeat;
	width: 80px;
	height: 74px;
	margin: 30px 0px 30px 44px;
	_margin: 30px 0px 30px 32px;
}

.c_r {
	/*margin-top: 45px;*/
	height:100%;
	font-size: 16px;
	table-layout: fixed;
	width: 410px;
}

.c_r td {
	padding: 5px 0px 5px 20px;
	word-wrap: break-word;
	text-align: left;
}

.c_info {
	float: left;
	width: 590px;
	_width: 586px;
	background: url(images/c_info.gif) repeat-x left bottom;
	border-bottom:1px solid #b0ceec;
	clear: left;
	height: 35px;
	margin: 0px;
	padding: 0px;
}

.c_info table th {
	padding: 3px 0px 0px 0px;
	font-weight: normal;
}

.c_info table th a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
#pict,#ywpt{font-weight:bold;}
.c_info table td.picdown {
	background: url(images/arrow_down.gif) no-repeat 21px 8px;
	width: 10px;
	height: 35px;
}

.c_info table td.picup {
	background: url(images/arrow_up.gif) no-repeat 21px 8px;
	width: 10px;
	height: 35px;
}

.content_inner {
	width: 555px;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	height: 300px;
	overflow-y: auto;
	float: left;
	letter-spacing: 1px;
}

.c_m {
	float: left;
	width: 565px;
	padding-left: 15px;
	word-wrap: break-word;
	background: #fff;
}