@charset "utf-8";
/*
reset.css重置了html元素的默认值
前缀说明：
.g_ grid的简写，开头的样式类或者id 表示用于布局 切记：不可在这类选择器下设置子选择器样式 污染面可能很大
.f_ function的简写，用于设置常用的对齐方式、内外边距等等
.m_ module的简写，用于设置自定义模块的类
.u_ unit的简写，用于设定页面单独元素样式
.c_ color的简写，主要用于设置颜色（包含背景颜色）
.j_ javascript的简写，该样式类专供js调用
.a_ animation的简写，该类设置css3动画效果
*/
html{font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body, h1, h2, h3, h4, h5, h6, hr, dd, ul, menu, dir, dl, blockquote, figure, fieldset, ol, p{margin: 0;}
td, th, ol, ul, menu, dir, textarea, option, input{padding: 0;}
ul, li, dd, dt, dl{list-style: none;}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details{display: block;}
audio, canvas, progress, video{display: inline-block;vertical-align: baseline;}
audio:not([controls]){display: none;height: 0;}
[hidden], template{display: none;}
html, body, img, iframe, abbr, hr, input, textarea, keygen, select, button{border: none;}
table{border-collapse: collapse;border-spacing: 0;}
caption, th{text-align: left;font-weight: normal;}
textarea{overflow: auto;resize: none;}
a, button{cursor: pointer;}
input, button{overflow: visible;vertical-align: middle;outline: none}
body{background: #fff;font: 14px/1.42875143 "microsoft yahei", arial, \5b8b\4f53;color: #333;}
a, area{outline: none;}
a{color: #333;text-decoration: none;cursor: pointer}
a:hover, a:focus{outline: none;text-decoration: none;*zoom:1;}
.fl{float: left;}
.fr{float: right;}
/* 全局清除浮动 */
.f_cl:after, .f_clli li:after{content: "\20";display: block;height: 0;clear: both;visibility: hidden}
.f_cl, .f_clli li{zoom:1}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfix {
    zoom: 1
}
/* 全屏自适应布局  */
html,body{width:100%;height:100%;font-family: "微软雅黑"}
html{_height:auto;_padding:82px 0 0;}
/*.g_hd,.g_sd,.g_mn,.g_ft{position:absolute;left:0;}*/
.g_hd,.g_ft{width:100%;}
.g_sd,.g_mn{top:82px;bottom:0;_height:100%;overflow:auto;}
.g_hd{top:0; color: #fff;}
.g_sd{width:188px; background:#ffffff;}
.g_mn{_position:relative;left:188px;right:0;_top:0;_left:0;_margin-left:188px;}
/*.g_ft{bottom:0;height:50px; background:#0F0C0C;}*/
.wxl_w_100{
	width:100%;
}
.f_14{
	font-size: 14px;
}
.f_16{
	font-size: 16px;
}
.f_18{
	font-size: 18px;
}
.clr_blue1{
	color:#168de9
}
.clr_black1{
	color:#464c5b
}
.clr_black2{
	color: #657180;
}

.gradient{
	min-width: 1200px;
	background: url(../img/top_bg.png);
/*background: -moz-linear-gradient(left, #00b8f9 0%, #0069ec 100%); 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00b8f9), color-stop(100%,#0069ec)); 
background: -webkit-linear-gradient(left, #00b8f9 0%,#0069ec 100%); 
background: -o-linear-gradient(left, #00b8f9 0%,#0069ec 100%); 
background: -ms-linear-gradient(left, #00b8f9 0%,#0069ec 100%); 
background: linear-gradient(to right, #00b8f9 0%,#0069ec 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8f9', endColorstr='#0069ec',GradientType=1 ); */
} 
.c_bodybg{background: #f0f3f6;}
.m_logo {
	float: left;
}
.m_logo img{
	height: 60px;
	margin-top:2px
}
.m_nav {
	float: right;
	/*padding-left: 35px;*/
	position: relative;
	font-family: "微软雅黑";
}
.m_nav li{
	display: inline-block;
	float: left;
	height: 63px;
}
.m_nav a{
	display: inline-block;
	padding: 6px 15px;
	color: #fff;
	text-align: center;
	height: 63px;
	
}
.m_nav li .j_active{
	/* background: rgba(16, 128, 217,0.5)!important; */
	background: url(../img/bg_dot.png) center center  repeat!important;
}
.m_nav li:hover{
	/* background: rgba(16, 128, 217,0.3)!important; */
	background: url(../img/bg_dot_hover.png) center center  repeat!important;

}
.m_nav a>i{
	font-size: 27px;
}
.m_nav a>span{
	display: block;
	padding-top: 4px;
	font-size: 12px;
}
.m_nav a:hover{
	color:#fff;
}
/* .m_nav a.j_active{
	background: url(../img/hd_up.png) center bottom no-repeat;
} */
.m_topright {
	position: relative;
	width: 220px;
	display: inline-block;
    margin-left: 20px;
}

.m_top_search {
	float: left;
	width: 168px;
	background: url(../img/search_bg.png) 0 0 no-repeat;
	height: 28px;
	padding: 0 28px 0 12px;
	margin: 16px 0;
	position: relative;
}
.m_top_search .u_btn_search{
	position: absolute;
	display: block;
	width: 16px;
	height: 28px;
	/*background: url(../img/search_icon.png) center no-repeat;*/
	top:0;
	right:12px;
	line-height: 28px;
}
.m_top_search input{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 4px 0;
	background: none;
	color: #fff;
	outline: none;
	font-size: 12px;
}
.m_top_search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.m_top_search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
.m_top_search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
.m_top_search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.search_box{
	 box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    font-family: "微软雅黑";
	font-size: 14px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
.search_box label{
	display: inline-block;
     width:100%;
     height: 35px;
     line-height: 35px;
     font-size: 12px;
     padding:0px 10px;
     color: #333;
}
.search_box a:hover{
	background: #f0f3f6;
    
}
/*.m_hd_portrait {*/
	/*!*float: left;*/
    /*width: 30px;*!*/
    /*height: 10px;*/
    /*!* padding: 10px 15px; *!*/
/*}*/
.m_hd_portrait i{
	font-size: 18px;
	vertical-align: middle;
}
.m_hd_portrait img{
	display: block;
	width: 40px;
	height:40px;
}

.m_icons_link {
	float: right;
}
.m_icons_link ul{
	height:28px;
	/* overflow: hidden; */
}
.m_icons_link li{
	display: block;
	/*position: relative;*/
	float: right;
}
/*.m_icons_link>ul>li>div{*/
	/*display: none;*/
	/*position: fixed;*/
	/*width: 541px;*/
	/*right: 15px;*/
	/*top:91px;*/
	/*box-shadow: 0px 3px 7px 0px */
		/*rgba(0, 0, 0, 0.3);*/
	/*border-radius: 2px;*/
	/*border: solid 1px #d0d3d6;*/
/*}*/
.m_icons_link li>a{
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	border-left:1px #0266db solid;
	color: #fff;
	padding: 0 12px;
	margin-top:20px;
	box-sizing: content-box;
}
.m_icons_link li .u_menu{
	background: url(../img/hd_com.png) center no-repeat;	
}
.m_icons_link li .u_notice i{
	/*background: url(../img/hd_msg.png) center no-repeat;*/
	font-size: 24px;
}
.m_icons_link li .u_exit{
	background: url(../img/hd_tc.png) center no-repeat;
	padding: 0 20px 0 14px;
}
.m_icons_link li:hover .u_menu{
	background: url(../img/h_com_h.png) center no-repeat;	
}
.m_icons_link li:hover .u_notice i{
	/*background: url(../img/hd_msg_h.png) center no-repeat;*/
	font-size: 24px;
	color: #bce2ff;
}
.m_icons_link li:hover .u_exit{
	background: url(../img/hd_tc_h.png) center no-repeat;
	padding: 0 20px 0 14px;
}

.g_main {
	min-width: 1280px;
}

.m_hd_nav_list{
	background: #fff;
}
.m_hd_nav_list p{
	height: 30px;
	border-bottom: 1px solid #e2e2e2;
	font-size: 12px;
}

.clearfix{
	clear: both;
}
/*.m_hd_nav_list p .fl{
	float: left;
}
.m_hd_nav_list p .fr{
	float:right
}*/
.m_hd_nav_list>p{
	padding: 23px 20px 6px 20px;
}
.m_hd_nav_list>p a:hover{
	text-decoration: underline;
}
.m_user_info{
	/* height: 220px; */
	box-sizing: border-box;
	font-size: 14px;
	font-family: "微软雅黑";
}
.m_user_info .btn_signOut{
	margin-left: 10px;
}
.m_user_info ul{
	padding:20px;
	box-sizing: border-box;
}
.m_user_info li{
	color: #657180;
	width:100%;
	margin-bottom: 15px;
	
}
.m_user_info li label{
	display: inline-block;
	/*width:100px;*/
	text-align: right;
	float: left;
	
}
.m_user_info li select{
	width: 245px;
	height: 30px;
	border:1px solid #e2e2e2;
	outline: none;
	border-radius: 3px;
	border: solid 1px #e6e6e6;
	margin-right: 10px;
	color:#657180;
	font-family: Microsoft YaHei;
	
}
.m_user_info .layui-input{
	height: 30px;
	width: 245px;
}
.m_user_info li option{
	height:30px;
}
.m_user_info li span.btn{
	padding:0px 10px;
	border-radius: 3px;
	border: solid 1px #d5e8fc;
	color: #0885c6;
	cursor: pointer;
	float: right;
	font-size:12px;
}
.m_user_info li span.btn:hover{
		background-color: #eaf4ff;
	border: solid 1px #d5e8fc;
}
.m_message_tip{
	padding-bottom: 22px;
	font-family: "微软雅黑";
}
.m_message_tip>p{
padding-bottom: 10px;
}
.m_message_tip>p>span.fl{
	line-height: 33px;
}
.m_message_tip>p>span.fr{
	border-radius: 3px;
	border: solid 1px #d5e8fc;
	color: #0885c6;
	padding:6px 7px;
	cursor: pointer;
}
.m_message_tip>p>span.fr:hover{
		background-color: #eaf4ff;
	border: solid 1px #d5e8fc;
}
.m_collect_con{
	padding:15px 20px 17px 20px;
}
.m_selection li{
	width: 31%;
	height: 43px;
	line-height: 43px;
	background-color: #f9fafd;
	border: solid 1px #eef3f6;
	display: inline-block;
	color: #657180;
	margin-right:13px;
	text-align: center;
	margin-bottom: 8px;
}
.m_selection li:hover{
	background-color: #eaf4ff;
	color:#0885c6

}
.m_selection li:nth-child(3n){
     margin-right:0px;
}
.m_my_notice{
	padding:16px 20px 0px;
}
.m_my_notice li{
	width:100%;
	box-sizing: border-box;
	color:#333;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #e2e2e2 ;
}
.m_my_notice li span label{
	color:red
}
/*搜素框选项*/
#titleSearch{
	width: 208px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border: solid 1px #d0d3d6;
	background-color: #fff;
	position: relative;
	right: 10px;
	max-height: 102px; 
	_height:expression(this.scrollHeight > 100 ? "100px" : "auto"); 
	overflow-y:auto;
	display: none;
}
#titleSearch p{
	font-size: 14px;
	color: #000000;
	height: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#titleSearch p:hover{
	background-color: #F0F3F6;	
}
.wxl_top_info_box{
	width:100%;
	height: 28px;
	line-height:28px;
	font-size:12px;
	background: #1080d9;
	display: none;
	padding-left:10px;
}
.wxl_top_info_box span{
	margin-right: 16px;
	vertical-align: middle;
	/*float: left;*/
}
.wxl_top_info_box .icon-exit{
	font-size: 14px;
	vertical-align: middle;
}
.wxn_exitLogin{
	cursor: pointer;
}
.wxn_editPass{
	cursor: pointer;
}
.wxn_switchBS{
	cursor: pointer;
}
.m_hd_portrait {
	margin-right: 10px;
	position: relative;
}

.m_hd_portrait div {
	display: block !important;
	/* position: relative !important; */
	width: 220px !important;
	padding-right:20px;
	/*top: 1.5px !important;*/
	/* right: 3px !important; */
	box-shadow: none !important;
	border: none !important;
	box-sizing: content-box!important;
}

/*.m_hd_portrait input {*/
	/*height: 22px !important;*/
/*}*/

.m_hd_portrait dd {
	color: #333;
}

.m_hd_portrait dl {
	top: 30px !important;
	/* left: -59px !important; */
}

input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #ffffff;
}

.m_hd_portrait .layui-select-title input {
	background: none;
	border: none;
	color: #fff;
	padding-right: 0;
}

/*.layui-form-select .layui-edge {*/
	/*border-top-color: #fff;*/
/*}*/
.m_hd_portrait .layui-inline{
	float: left;
}

.m_hd_portrait span{
	float: left;
	margin-right: 0;
	line-height:28px;
	vertical-align: middle;
}
.m_hd_portrait .layui-form-select .layui-edge{
	right:0;
}
.m_hd_portrait .layui-select-title{
	width: 300px;
}

.m_hd_portrait .layui-inline{
	width: 300px;
}

.switchPS{
	line-height: 30px;
	cursor: pointer;
	background: url(../img/line.png) left center no-repeat;
	padding-left: 5px;
	color: #c9e4fa;
}
.switchPS:hover{
	color: #fff;
}
.m_hd_portrait .layui-form-select .layui-edge{
	border-top-color: #fff;

}
.m_hd_portrait .layui-select-title input{
	/* margin-top:-1px; */
    height: 28px;
	line-height: 28px;
	width: 300px;
}

.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000;
	top: 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
	/*This works in IE 8 & 9 too*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	/*IE4-IE9*/
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	display: none;
}

.guidPage {
	position: absolute;
    top: 0;
    /* width: 50%; */
    right: 0;
    display: none;
}