@charset "utf-8";


/*在线客服 样式*/
.custom_service p img {display: inline; margin-top:-5px; vertical-align:middle;}
.scrollsidebar{position:absolute; z-index:999; top:250px; right: 0px;}
.side_content{width:116px; height:auto; overflow:hidden; float:left; }
.side_content .side_list {width:116px;overflow:hidden;}
.show_btn{ width:0; height:66px; overflow:hidden; /*margin-top:50px;*/ float:left; cursor:pointer;}
.show_btn span { display:none;}
.close_btn{width:24px;height:24px;cursor:pointer;}
.side_bottom,.close_btn,.show_btn {background:url(./zxkf/sidebar_bg.png) no-repeat;}
/* .side_title {height:46px;} */
.side_bottom { height:8px;}
.side_center {font-family:Verdana, Geneva, sans-serif; height:160px; font-size:12px;}
.close_btn { float:right; display:block; width:24px; height:18px; margin:88px 8px 0 0; }
.close_btn span { display:none;}
.side_center .custom_service p { text-align:center; padding:6px 0; margin:0; vertical-align:middle;}
.close_btn {background-position:-40px 0;}
.close_btn:hover {background-position:-40px 0;}
.show_btn {background-position:-139px 0;}

.side_center1 {background:url(./zxkf/kf_big.png) no-repeat left; height:151px; width:126px;}
.side_zxkf {width: 93px;height: 150px; cursor: pointer;}