
/* CSS Document */
.btn-toolbar{ margin:0; padding:0; display:inline-block; font-size:12px; color:#fff; }
.btn-toolbar div{float:left; font-size:12px;cursor: pointer;}
.glyphicon {position: relative;top:2px; left: -3px;display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal;    line-height: 1; -webkit-font-smoothing: antialiased; padding-left:3px;}
.default,.unused,.add,.clos,.print,.export,.import,.back,.preview,.inspect,.previousPage,.nextPage,.firstPage,.endPage,.delete,.edit,.find,.save,.refresh{width:auto;padding: 0 10px 1px 25px;margin:5px 2px; height:28px; text-align:center; line-height:27px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#f1f6fa;color:#333; border:1px solid #d3e1e4;}
.default:hover,.add:hover,.clos:hover,.print:hover,.export:hover,.import:hover,.back:hover,.preview:hover,.inspect:hover,.previousPage:hover,.nextPage:hover,.firstPage:hover,.endPage:hover,.delete:hover,.edit:hover,.find:hover,.save:hover,.refresh:hover{ ;/*opacity: 0.8; visibility: visible;*/ }
.default:hover{background:#2eacd9;color:#fff;}
.add{background:url("/wings/core/img/add.png") no-repeat 8px center;}
.add:hover{background:#2eacd9 url("/wings/core/img/add-hover.png") no-repeat 8px center; color:#fff;}
.clos{background:url("/wings/core/img/clos.png") no-repeat 8px center;}
.clos:hover{background:#2eacd9 url("/wings/core/img/clos-hover.png") no-repeat 8px center; color:#fff;}
.print{background:url("/wings/core/img/print.png") no-repeat 8px center;}
.print:hover{background:#2eacd9 url("/wings/core/img/print-hover.png") no-repeat 8px center; color:#fff;}
.export{background:url("/wings/core/img/export.png") no-repeat 8px center;}
.export:hover{background:#2eacd9 url("/wings/core/img/export-hover.png") no-repeat 8px center; color:#fff;}
.import{background:url("/wings/core/img/import.png") no-repeat 8px center;}
.import:hover{background:#2eacd9 url("/wings/core/img/import-hover.png") no-repeat 8px center; color:#fff;}
.back{background:url("/wings/core/img/back.png") no-repeat 8px center;}
.back:hover{background:#2eacd9 url("/wings/core/img/back-hover.png") no-repeat 8px center; color:#fff;}
.preview{background:url("/wings/core/img/preview.png") no-repeat 8px center;}
.preview:hover{background:#2eacd9 url("/wings/core/img/preview-hover.png") no-repeat 8px center; color:#fff;}
.inspect{background:url("/wings/core/img/inspect.png") no-repeat 8px center;}
.inspect:hover{background:#2eacd9 url("/wings/core/img/inspect-hover.png") no-repeat 8px center; color:#fff;}
.previousPage{background:url("/wings/core/img/previousPage.png") no-repeat 8px center;}
.previousPage:hover{background:#2eacd9 url("/wings/core/img/previousPage-hover.png") no-repeat 8px center; color:#fff;}
.nextPage{background:url("/wings/core/img/nextPage.png") no-repeat 8px center;}
.nextPage:hover{background:#2eacd9 url("/wings/core/img/nextPage-hover.png") no-repeat 8px center; color:#fff;}
.firstPage{background:url("/wings/core/img/firstPage.png") no-repeat 8px center;}
.firstPage:hover{background:#2eacd9 url("/wings/core/img/firstPage-hover.png") no-repeat 8px center; color:#fff;}
.endPage{background:url("/wings/core/img/endPage.png") no-repeat 8px center;}
.endPage:hover{background:#2eacd9 url("/wings/core/img/endPage-hover.png") no-repeat 8px center; color:#fff;}
.delete{background:url("/wings/core/img/delete.png") no-repeat 8px center;}
.delete:hover{background:#2eacd9 url("/wings/core/img/delete-hover.png") no-repeat 8px center; color:#fff;}
.edit{background:url("/wings/core/img/edit.png") no-repeat 8px center;}
.edit:hover{background:#2eacd9 url("/wings/core/img/edit-hover.png") no-repeat 8px center; color:#fff;}
.find{background:url("/wings/core/img/find.png") no-repeat 8px center;}
.find:hover{background:#2eacd9 url("/wings/core/img/find-hover.png") no-repeat 8px center; color:#fff;}
.save{background:url("/wings/core/img/save.png") no-repeat 8px center;}
.save:hover{background:#2eacd9 url("/wings/core/img/save-hover.png") no-repeat 8px center; color:#fff;}
.refresh{background:url("/wings/core/img/refresh.png") no-repeat 8px center;}
.refresh:hover{background:#2eacd9 url("/wings/core/img/refresh-hover.png") no-repeat 8px center; color:#fff;}

.unused{
	color:#A8A8A8;
}

.unused:hover{
	color:#A8A8A8;
}

.unused_1{
    background:rgb(218,218,218);
    color:#555;
    border-color:#555;
}
.unused_1:hover{
    background:rgb(218,218,218)!important;
    color:#555!important;
    border-color:#555!important;
}
.unused_1:focus{
    background:rgb(218,218,218)!important;
    color:#555!important;
    border-color:#555!important;
}
.unused_1:visited{
    background:rgb(218,218,218)!important;
    color:#555!important;
    border-color:#555!important;
}
.btn_new{
    padding:3px 15px!important;
}



/* toolsbar2 */
 
 .s-tool {      
    position: fixed;
    top: 0px;
    right: 0;
    text-align: center;
    z-index: 99;
    overflow: hidden;
    height: 600px;
    width: 150px;
    /* background: #fff; */
    }
    
 .s-tool_2 {      
    position: absolute;
    top:30px;
    overflow: hidden;
    height: 240px;
    width: 150px;
    display: block;
    /* background: #fff; */
    }
    
.s-tool_2 img {
        margin: 20px 0;background: #316EB4;
}

.s-tool a{ 
	height: 60px;
     width: 60px;
    display: block;
    /* background: red; */
    background: #316EB4;
    margin: 0 0 0 auto;
 }
    
.s-tool .wings_toolbar_up{
	height: 30px;
    position: absolute;
    right:0;
    top:0;
   
}
.s-tool .wings_toolbar_down{
	height: 30px;
    position: absolute;
    right:0;
    top:210px;
}

.s-tool .border{border-bottom:1px solid #e6e5e5;}

.s-tool_2 a span {
    display: none;
    color: #fff;
    position: absolute;
    right: 40px;
    width: 85px;
    line-height: 66px;
    background: #316EB4;
    height: 60px;padding: 0 15px 0 5px;text-algin:center;margin-right:20px;opacity: 0.8;
}
.s-tool_2 a:hover{opacity: 0.8;width:60px;/*background:#959BB1;*/}
.s-tool_2 a:hover>span{display:block;}

.s-tool_indiv{
	position:absolute;
    width: 150px;
	}



/* toolsbar3 */
 
 .s-tool-3 {      
    position: fixed;
    top: 0px;
    right: 0;
    text-align: center;
    z-index: 99;
    overflow: hidden;
    height: 100%;
    width: 50px;
    /* background: #fff; */
    }
    
 .s-tool_3 {      
    position: absolute;
    top:30px;
    overflow: hidden;
    height: 240px;
    width: 50px;
    display: block;
    /* background: #fff; */
    }
    

.s-tool-3 a{ 
	color:#656667;
	height: 50px;
     width: 50px;
    display: block;
    /* background: red; */
    /*background: #316EB4;*/
    margin: 0 0 0 auto;
    padding:0 0 0 0;
    text-decoration:none;
    padding-top:5px;
 }
    
.s-tool_3 img {
        margin: 5px 0;/*background: #316EB4;*/
}
.s-tool_3 a span{
    display: block;
    width: 50px;
    font-size:12px;
    padding: 5px 0 3px 0;
}

.s-tool-3 .wings_toolbar_up{
	height: 30px;
    position: absolute;
    right:0;
    top:0;
    padding:0;
   
}
.s-tool-3 .wings_toolbar_down{
	height: 30px;
    position: absolute;
    right:0;
    top:210px;
}

.s-tool-3 .border{border-bottom:1px solid #e6e5e5;}

.s-tool_3 a.actTool3:hover{width:50px;background:#6C9CF0;color:#FFFFFF}

.s-tool_3 a.actTool3.action3{width:50px;background:#6C9CF0;color:#FFFFFF}

.s-tool_indiv_3{
	position:absolute;
	}
/* 鍥炬爣 */
.s-tool_3 a span.a_row_number_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/a_row_number_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.a_row_number_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/a_row_number_click_icon.png") no-repeat center 0;;}
.a_row_number_click {background:url("/wings/core/plugins/wingsToolbar/image3/a_row_number_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.a_row_number_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/a_row_number_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_double_screen_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_double_screen_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_double_screen_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_double_screen_click_icon.png") no-repeat center 0;;}
.accessory_double_screen_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_double_screen_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_double_screen_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_double_screen_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_first_copy_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_first_copy_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_first_copy_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_first_copy_click_icon.png") no-repeat center 0;;}
.accessory_first_copy_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_first_copy_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_first_copy_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_first_copy_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_quit_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_quit_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_quit_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_quit_click_icon.png") no-repeat center 0;;}
.accessory_quit_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_quit_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_quit_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_quit_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_save_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_save_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_click_icon.png") no-repeat center 0;;}
.accessory_save_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_save_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_save_exit_copy_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_copy_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_save_exit_copy_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_copy_click_icon.png") no-repeat center 0;;}
.accessory_save_exit_copy_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_copy_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_save_exit_copy_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_copy_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_save_exit_setup_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_setup_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_save_exit_setup_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_setup_click_icon.png") no-repeat center 0;;}
.accessory_save_exit_setup_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_setup_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_save_exit_setup_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_save_exit_setup_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.accessory_send_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/accessory_send_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.accessory_send_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_send_click_icon.png") no-repeat center 0;;}
.accessory_send_click {background:url("/wings/core/plugins/wingsToolbar/image3/accessory_send_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.accessory_send_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/accessory_send_unclickable_icon.png") no-repeat center 0;;}	
		
.s-tool_3 a span.adopt_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/adopt_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.adopt_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/adopt_click_icon.png") no-repeat center 0;;}
.adopt_click {background:url("/wings/core/plugins/wingsToolbar/image3/adopt_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.adopt_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/adopt_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.anew_dispatching_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/anew_dispatching_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.anew_dispatching_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/anew_dispatching_click_icon.png") no-repeat center 0;;}
.anew_dispatching_click {background:url("/wings/core/plugins/wingsToolbar/image3/anew_dispatching_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.anew_dispatching_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/anew_dispatching_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_click_icon.png") no-repeat center 0;;}
.backlog_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_unclickable_icon.png") no-repeat center 0;;}
						
.s-tool_3 a span.backlog_cancel_stick_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_cancel_stick_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_cancel_stick_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_cancel_stick_click_icon.png") no-repeat center 0;;}
.backlog_cancel_stick_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_cancel_stick_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_cancel_stick_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_cancel_stick_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_collect_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_collect_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_collect_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_collect_click_icon.png") no-repeat center 0;;}
.backlog_collect_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_collect_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_collect_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_collect_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_delete_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_delete_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_delete_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_delete_click_icon.png") no-repeat center 0;;}
.backlog_delete_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_delete_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_delete_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_delete_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_file_first_copy_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_file_first_copy_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_file_first_copy_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_file_first_copy_click_icon.png") no-repeat center 0;;}
.backlog_file_first_copy_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_file_first_copy_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_file_first_copy_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_file_first_copy_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_first_copy_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_first_copy_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_first_copy_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_first_copy_click_icon.png") no-repeat center 0;;}
.backlog_first_copy_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_first_copy_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_first_copy_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_first_copy_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_refresh_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_refresh_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_refresh_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_refresh_click_icon.png") no-repeat center 0;;}
.backlog_refresh_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_refresh_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_refresh_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_refresh_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_send_back_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_send_back_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_send_back_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_send_back_click_icon.png") no-repeat center 0;;}
.backlog_send_back_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_send_back_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_send_back_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_send_back_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_stick_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_stick_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_stick_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_stick_click_icon.png") no-repeat center 0;;}
.backlog_stick_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_stick_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_stick_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_stick_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.backlog_tabulator_set_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/backlog_tabulator_set_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.backlog_tabulator_set_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_tabulator_set_click_icon.png") no-repeat center 0;;}
.backlog_tabulator_set_click {background:url("/wings/core/plugins/wingsToolbar/image3/backlog_tabulator_set_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.backlog_tabulator_set_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/backlog_tabulator_set_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.bar_code_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.bar_code_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_click_icon.png") no-repeat center 0;;}
.bar_code_click {background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.bar_code_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.bar_code_tail_after_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_tail_after_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.bar_code_tail_after_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_tail_after_click_icon.png") no-repeat center 0;;}
.bar_code_tail_after_click {background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_tail_after_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.bar_code_tail_after_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/bar_code_tail_after_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.conclude_the_matter_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/conclude_the_matter_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.conclude_the_matter_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/conclude_the_matter_click_icon.png") no-repeat center 0;;}
.conclude_the_matter_click {background:url("/wings/core/plugins/wingsToolbar/image3/conclude_the_matter_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.conclude_the_matter_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/conclude_the_matter_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.deadline_modification_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/deadline_modification_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.deadline_modification_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/deadline_modification_click_icon.png") no-repeat center 0;;}
.deadline_modification_click {background:url("/wings/core/plugins/wingsToolbar/image3/deadline_modification_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.deadline_modification_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/deadline_modification_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.dispatch_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/dispatch_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.dispatch_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/dispatch_click_icon.png") no-repeat center 0;;}
.dispatch_click {background:url("/wings/core/plugins/wingsToolbar/image3/dispatch_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.dispatch_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/dispatch_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.error_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/error_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.error_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/error_click_icon.png") no-repeat center 0;;}
.error_click {background:url("/wings/core/plugins/wingsToolbar/image3/error_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.error_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/error_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.error_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/error_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.error_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/error_click_icon.png") no-repeat center 0;;}
.error_click {background:url("/wings/core/plugins/wingsToolbar/image3/error_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.error_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/error_unclickable_icon.png") no-repeat center 0;;}

/*h寮�ご*/
.s-tool_3 a span.have_done_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/have_done_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.have_done_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/have_done_click_icon.png") no-repeat center 0;;}
.have_done_click {background:url("/wings/core/plugins/wingsToolbar/image3/have_done_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.have_done_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/have_done_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.home_page_download_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_download_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_download_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_download_click_icon.png") no-repeat center 0;;}
.home_page_download_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_download_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_download_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_download_unclickable_icon.png") no-repeat center 0;;}
		
.s-tool_3 a span.home_page_help_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_help_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_help_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_help_click_icon.png") no-repeat center 0;;}
.home_page_help_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_help_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_help_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_help_unclickable_icon.png") no-repeat center 0;;}
			
.s-tool_3 a span.home_page_inform_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_inform_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_inform_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_inform_click_icon.png") no-repeat center 0;;}
.home_page_inform_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_inform_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_inform_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_inform_unclickable_icon.png") no-repeat center 0;;}
	
.s-tool_3 a span.home_page_mailbox_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_mailbox_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_mailbox_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_mailbox_click_icon.png") no-repeat center 0;;}
.home_page_mailbox_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_mailbox_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_mailbox_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_mailbox_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.home_page_performance_management_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_performance_management_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_performance_management_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_performance_management_click_icon.png") no-repeat center 0;;}
.home_page_performance_management_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_performance_management_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_performance_management_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_performance_management_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.home_page_personnel_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_personnel_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_personnel_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_personnel_click_icon.png") no-repeat center 0;;}
.home_page_personnel_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_personnel_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_personnel_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_personnel_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.home_page_public_administration_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_public_administration_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_public_administration_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_public_administration_click_icon.png") no-repeat center 0;;}
.home_page_public_administration_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_public_administration_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_public_administration_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_public_administration_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.home_page_purchase_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_purchase_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_purchase_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_purchase_click_icon.png") no-repeat center 0;;}
.home_page_purchase_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_purchase_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_purchase_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_purchase_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.home_page_searching_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/home_page_searching_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.home_page_searching_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_searching_click_icon.png") no-repeat center 0;;}
.home_page_searching_click {background:url("/wings/core/plugins/wingsToolbar/image3/home_page_searching_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.home_page_searching_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/home_page_searching_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.inquire_condition_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/inquire_condition_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.inquire_condition_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/inquire_condition_click_icon.png") no-repeat center 0;;}
.inquire_condition_click {background:url("/wings/core/plugins/wingsToolbar/image3/inquire_condition_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.inquire_condition_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/inquire_condition_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.list_copy-ou_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/list_copy-ou_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.list_copy-ou_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/list_copy-ou_click_icon.png") no-repeat center 0;;}
.list_copy-ou_click {background:url("/wings/core/plugins/wingsToolbar/image3/list_copy-ou_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.list_copy-ou_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/list_copy-ou_unclickable_icon.png") no-repeat center 0;;}
			
.s-tool_3 a span.modification_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/modification_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.modification_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/modification_click_icon.png") no-repeat center 0;;}
.modification_click {background:url("/wings/core/plugins/wingsToolbar/image3/modification_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.modification_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/modification_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.new_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/new_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.new_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/new_click_icon.png") no-repeat center 0;;}
.new_click {background:url("/wings/core/plugins/wingsToolbar/image3/new_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.new_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/new_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.open_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/open_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.open_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/open_click_icon.png") no-repeat center 0;;}
.open_click {background:url("/wings/core/plugins/wingsToolbar/image3/open_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.open_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/open_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.pitch_onpigeonhole_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/pitch_onpigeonhole_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.pitch_onpigeonhole_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/pitch_onpigeonhole_click_icon.png") no-repeat center 0;;}
.pitch_onpigeonhole_click {background:url("/wings/core/plugins/wingsToolbar/image3/pitch_onpigeonhole_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.pitch_onpigeonhole_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/pitch_onpigeonhole_unclickable_icon.png") no-repeat center 0;;}
							
.s-tool_3 a span.print_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/print_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.print_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/print_click_icon.png") no-repeat center 0;;}
.print_click {background:url("/wings/core/plugins/wingsToolbar/image3/print_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.print_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/print_unclickable_icon.png") no-repeat center 0;;}
				
.s-tool_3 a span.read_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/read_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.read_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/read_click_icon.png") no-repeat center 0;;}
.read_click {background:url("/wings/core/plugins/wingsToolbar/image3/read_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.read_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/read_unclickable_icon.png") no-repeat center 0;;}

.s-tool_3 a span.register_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/register_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.register_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/register_click_icon.png") no-repeat center 0;;}
.register_click {background:url("/wings/core/plugins/wingsToolbar/image3/register_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.register_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/register_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.scan_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/scan_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.scan_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/scan_click_icon.png") no-repeat center 0;;}
.scan_click {background:url("/wings/core/plugins/wingsToolbar/image3/scan_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.scan_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/scan_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.set_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/set_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.set_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/set_click_icon.png") no-repeat center 0;;}
.set_click {background:url("/wings/core/plugins/wingsToolbar/image3/set_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.set_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/set_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.tail_after_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/tail_after_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.tail_after_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/tail_after_click_icon.png") no-repeat center 0;;}
.tail_after_click {background:url("/wings/core/plugins/wingsToolbar/image3/tail_after_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.tail_after_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/tail_after_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.transaction_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/transaction_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.transaction_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/transaction_click_icon.png") no-repeat center 0;;}
.transaction_click {background:url("/wings/core/plugins/wingsToolbar/image3/transaction_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.transaction_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/transaction_unclickable_icon.png") no-repeat center 0;;}
					
.s-tool_3 a span.transmit_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/transmit_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.transmit_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/transmit_click_icon.png") no-repeat center 0;;}
.transmit_click {background:url("/wings/core/plugins/wingsToolbar/image3/transmit_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.transmit_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/transmit_unclickable_icon.png") no-repeat center 0;;}


.s-tool_3 a span.push_oneself_not_click{background:url("/wings/core/plugins/wingsToolbar/image3/push_oneself_not_click_icon.png") no-repeat center 0;}
.s-tool_3 a:hover>span.push_oneself_not_click {background:url("/wings/core/plugins/wingsToolbar/image3/push_oneself_click_icon.png") no-repeat center 0;;}
.push_oneself_click {background:url("/wings/core/plugins/wingsToolbar/image3/push_oneself_click_icon.png") no-repeat center 0;;}
.s-tool_3 a span.push_oneself_unclickable {color:#B6BFC2;background:url("/wings/core/plugins/wingsToolbar/image3/push_oneself_unclickable_icon.png") no-repeat center 0;;}


