body,
.wrap {
	height: 100%;
}

.wrap {
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 0;
}

.wep_box {
	width: 1280px;
	margin:0 auto;
}
.top {
	min-width:1280px;
	position: relative;
	height: 460px;
	background-image: url('../imgs/mh_topbg.png');
	background-size: cover;
	/* background: none\9; */
	background-color: #2563c8;
	background-position: left top;
	background-repeat: no-repeat;
	/* overflow: hidden; */
	z-index: 11;
	/* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_topbg.png', sizingMethod='scale') */
}

.top .bg_top_img {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.content {
	/*height: 75.25%;*/
}

.detail {
	height: 274px;
	padding-top:80px;
}

/*头部*/
.header {
	height: 100px;
	position: relative;
}

.header_logo {
	padding-top: 15px;
	position: absolute;
	left: 20px;
}

.logo_index {
	padding-top: 0px;
	left: 0;
}

.header_logo img {
	height: 83px;
	margin: 0 15px 0 0;
	vertical-align: middle;
}

.header_logo span {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	/* vertical-align: middle; */
}

.header_right {
	position: absolute;
	line-height: 40px;
	/*margin-right: 18px;*/
	right: 34px;
}

.header_right span {
	font-size: 16px;
	color: #d2e6f7;
	vertical-align: middle;
}

.header_right img {
	vertical-align: middle;
}

.header_right_op {
	margin-left: 30px;
	cursor: pointer;
}

.header_right_op i {
	font-size: 16px;
	color: #d2e6f7;
	margin-right: 6px;
	float: left;
	vertical-align: middle;
}

.header_right_op:hover i,
.header_right_op:hover span {
	color: #fff;
}

/* .header_right_op img{
	margin-right: 6px;
} */
.wep_button .wep_login {
	line-height: normal;
	position: absolute;
	right: 34px;
	top: 60px;
	cursor: pointer;
	text-align: center;
}

.wep_login img {
	height: 48px;
}

.wep_login span {
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	margin-top: 5px;
}

#id_mh_login_span:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	/*For IE8 and earlier */
}

/*功能模块*/
.wep_operation {
	position: absolute;
	padding-top: 138px;


}
.wep_operation div:first-child{
	margin-left: 248px;
}
.wep_operation div {
	width: 106px;
	margin-left: 120px;
	cursor: pointer;
	color: #fff;
}

.wep_operation div span {
	font-size: 16px;
	font-weight: 400;
	display: block;
	width: 100%;
	text-align: center;
}

.wep_operation div a {
	color: #fff;
	width: 100%;
	display: inline-block;
}

.wep_operation div img {
	width: 100%;
	margin-bottom: 20px;
}

.wep_operation div span img {
	width: 70%;
}

/*导航*/
.wep_guide {
	height: 100%;
}
.wep_guide>div:first-child{
	margin-left: 92px;
}
.wep_guide>div {
	width: 200px;
	height: 120px;
	margin-left: 24px;
	cursor: pointer;
	background-size: 100% 100%;
	/* background: none\9; */
	background-repeat: no-repeat;
	background-position: center top;

}

.wep_guide span {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding-top: 5px;
}

.wep_guide a {
	display: inline-block;
	height: 100%;
	/* padding-top: 11%; */
	width: 100%;
	background-size: 100% 100%;
	/* background: none\9; */
	background-repeat: no-repeat;
	background-position: center center;
}

/* .wep_guide a i{
	margin-top: 11%;
} */

.wep_wdxx_a {
	background-image: url('../imgs/mh_guide_img1.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img1.png', sizingMethod=scale)
}

.wep_wdxx_a:hover {
	background-image: url('../imgs/mh_guide_img1_h.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img1_h.png', sizingMethod=scale)
}

.wep_wybs_a {
	background-image: url('../imgs/mh_guide_img2.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img2.png', sizingMethod=scale)
}

.wep_wybs_a:hover {
	background-image: url('../imgs/mh_guide_img2_h.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img2_h.png', sizingMethod=scale)
}

.wep_wycx_a {
	background-image: url('../imgs/mh_guide_img3.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img3.png', sizingMethod=scale)
}

.wep_wycx_a:hover {
	background-image: url('../imgs/mh_guide_img3_h.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img3_h.png', sizingMethod=scale)
}

.wep_hdzx_a {
	background-image: url('../imgs/mh_guide_img4.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img4.png', sizingMethod=scale)
}

.wep_hdzx_a:hover {
	background-image: url('../imgs/mh_guide_img4_h.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img4_h.png', sizingMethod=scale)
}

.wep_gzfw_a {
	background-image: url('../imgs/mh_guide_img5.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img5.png', sizingMethod=scale)
}

.wep_gzfw_a:hover {
	background-image: url('../imgs/mh_guide_img5_h.png?version=1.21');
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/mh_guide_img5_h.png', sizingMethod=scale)
}

.wep_guide .wep_wdxx {
	/* margin-left: 4.33%; */
}

/*底部*/
.footer {
	background: #e5e7ea;
	color: #666666;
	height: 82px;
	min-width:1280px;
}

.footer_box {
	height: 100%;
}

.footer_box>div {
	display: inline-block;
	vertical-align: middle;
}

.foot_logo {
	height: 62px;
}

.foot_logo img {
	width: 49px;
	height: 62px;
	margin-right: 24px;
}

.foot_text {
	font-size: 14px;
    line-height: 24px;
    text-align: left;
}

/*登录框*/
.wep_button {
	/* position: relative; */
	font-size: 12px;
}

.wep_loginform .wep_tab,
.wep_registerform form {
	background-color: #fff;
	/* border-radius: 10px; */
	border-top: 5px solid #0f90ef;
}

.wep_loginform .wep_ul {
	border-bottom: 1px solid #d7dde4;
	line-height: 50px;
	height: 50px;
	white-space: nowrap;
	font-size: 0;
}

.wep_loginform .wep_ul li {
	font-size: 14px;
	width: auto;
	padding: 0 13px;
	line-height: 47px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.wep_loginform .wep_form form {
	display: none;
}

.wep_loginform .wep_form form a {
	color: #e88122;
}

.wep_loginform {
	width: 420px;
	border-radius: 3px;

	display: block;
	z-index: 999;
}

.wep_loginform .wep_topimg {
	width: 300px;
	height: 16px;
	display: block;
}

.login_wrap {
	border-radius: 10px !important;
}

.login_wrap .layui-layer-content {
	border-radius: 10px;
	overflow: visible !important;
}

.wep_button input::-webkit-input-placeholder {
	color: #ccc;
	font-weight: 400;
}

.wep_button input::-moz-placeholder {
	color: #ccc;
	font-weight: 400;
}

.wep_button input:-moz-placeholder {
	color: #ccc;
	font-weight: 400;
}

.wep_button input:-ms-input-placeholder {
	color: #ccc;
	font-weight: 400;
}

.wep_button .wep_loginform .wrong {
	border: 1px solid #ff5621;
	box-shadow: 0px 0px 14px -3px #ff5621;
	-webkit-box-shadow: 0px 0px 14px -3px #ff5621;
	-moz-box-shadow: 0px 0px 14px -3px #ff5621;
}

.wep_button .wep_loginform .right {
	border: 1px solid #1578ed;
	box-shadow: 0px 0px 14px -3px #1578ed;
	-webkit-box-shadow: 0px 0px 14px -3px #1578ed;
	-moz-box-shadow: 0px 0px 14px -3px #1578ed;
}

.wep_button input[type='text'],.wep_button input[type='password'],.wep_button select{
	font-size: 12px;
	border: 1px solid #e6e6e6;
	height: 34px;
	line-height: 31px;
	border-radius: 3px;
	width: 100%;
	color: #666;
	padding-left: 6px;
}
.wep_button select {
	width: 188px;
	outline: none;
	padding-left: 3px;
}

.wep_button p {
	white-space: nowrap;
}

.wep_loginform form {
	text-align: left;
	line-height: 45px;
	padding: 7px 20px;
}

.wep_loginform .wep_login_btn,
.wep_registerform .wep_register_btn,
.wep_button .wep_send_msg {
	background-color: #1e9fff;
	width: 100%;
	height: 32px;
	line-height: 33px;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
	margin-right: 5px;
	border: none;
}

#wep_form_dxdl .wep_login_btn,
#wep_form_dxdl .wep_send_msg {
	width: 188px;
	display: block !important;
}
#wep_form_grdl_new .wep_send_msg{
	width: 128px;
	display: block!important;
}
.wep_button .wep_send_msg{
	background-color: #f1f7fc;
	margin-right: 0;
	height: 34px;
	line-height: 32px;
	color: #1e9fff;
	border: 1px solid #afd7f4;
	position: absolute;
	right: 0;
	display: block !important;
}

.wep_send_msg:hover {
	background-color: #e0f1ff;
	border: 1px solid #8fcbfc;
}

#wep_form_dxdl .wep_login_btn {
	margin-right: 0;
}

.wep_login_btn:hover {
	background-color: #0f90ef;
}

#wep_form_grdl input[type='checkbox'] {
	width: 15px;
	height: 15px;
	-webkit-appearance: checkbox;
	vertical-align: middle;
}

#wep_form_grdl img {
	height: 30px;
	border-radius: 4px;
	border: 1px solid #D8E3EF;
	vertical-align: middle;
	*vertical-align: top !important;
}

.wep_xzlj {
	font-size: 14px;
	padding: 0 20px;
	line-height: 36px;
	background-color: #f5f5f5;
	color: #999;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	border-top: 1px solid #ddd;
}

.wep_xzlj span {
	display: inline-block;
}

.wep_xzlj a {
	color: #e88122;
	float: right;
}

.wep_xzlj a:hover {
	color: #d57114;
	text-decoration: underline;

}

.wep_xzlj .wep_xzlj_left a {
	font-size: 12px;
	color: #0090ff;
	text-decoration: underline;
}

.wep_xzlj .wep_xzlj_right a:hover {
	color: #0090ff;
}

.wep_xzlj .wep_xzlj_left a:hover {
	color: #2563c8;
}

/*Ã¦Â³Â¨Ã¥â€ Å’Ã¦Â¡â€ */
.wep_registerform {
	width: 350px;
	position: absolute;
	left: -34px;
	top: 66px;
	display: none;
}

.wep_registerform .wep_topimg {
	width: 350px;
	height: 16px;
	display: block;
}

.wep_registerform h1 {
	font-size: 14px;
	line-height: 39px;
	border-bottom: 2px solid #d7dde4;
	background-color: #fff;
}

.wep_button .wep_registerform input[type='text'],
.wep_button .wep_registerform input[type='password'] {
	width: 230px;
}

#registerform {
	background-color: #fff;
	text-align: left;
	line-height: 50px;
}

#registerform span {
	width: 75px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: right;
	margin-left: 20px;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

/* .layui-form-select {
	width: 153px;
}

.layui-form-select {
	width: 153px;
} */

.login_wrap .layui-form-select {
	width: 188px;
}

.wep_guide .iconfont {
	color: #fff;
	font-size: 45px;
	display: block;
	padding-top: 11%;
}

.grsdsdl {
	display: block;
	width: 100%;
	height: 100%;
}

.wep_loginform .wep_ul .active {
	border-bottom: 3px solid #1e9fff;
	color: #1e9fff;
}

.wep_loginform .current {
	color: #0090ff;
}

.widthHalf {
	width: 188px !important;
}

.wep_operation div span img {
	width: 70%;
}

.tradeOrder {
	display: block;
	height: 22px;
	line-height: 22px;
	margin-top: -8px;
}

#wep_form_dxdl .wep_login_btn {
	width: 380px;
}

.wep_xzlj_left {
	display: none;
}

.companyName {
	font-size: 18px;
	color: #fff;
	display: none;
	position: relative;
	top: 5px;
	cursor: default;
}

.passwordAll,.usernameAll,.widthHalfAll{
	position: relative;
	/*float: left;*/
	width: 100%;
	height: 42px;
	overflow: hidden;
}

.widthHalfAll{
	width: 188px!important;
}
.topPw,.username,.widthHalf{
	position: absolute;
	top: 6px;
}

.passwords,
.usernames,
.widthHalfs {
	margin-top: 6px;
}
.title{
	position: absolute;
	top: 0px;
}
/*
#sfcx .layui-anim-upbit{
	height: 116px;
	overflow-y: auto;
} */

#sfhm .layui-anim-upbit {
	height: 146px;
	overflow-y: auto;
}

.login_close_bt {
	display: block;
	text-align: center;
	margin-right: 10px;
	float: right;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: #999;
	border-radius: 50%;
	margin-top: 10px;

}

.login_close_bt i {
	font-size: 10px!important;
}

.login_close_bt:hover {
	background: #e84b50;
	color: #fff;
}

.login_close_bt {
	cursor: pointer;
}

/* 环境监测样式 */
.m_main {
	background: #fff;
	padding: 30px 30px 30px 340px;
	height: 500px;
	overflow: hidden;
	display: none;
}

.m_check_right {
	font-family: "Microsoft YaHei";
	color: #000;
}

.m_check_right h1 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px #eee solid;
	padding-bottom: 15px;
}

.m_check_right ul {
	height: 400px;
	overflow-y: auto;
}

.m_check_right li {
	border-bottom: 1px #e4ecec solid;
}

.m_check_right a,
.m_check_right span {
	display: block;
}

.m_check_right a {
	padding: 5px 40px;
	position: relative;
}

.m_check_right a:hover {
	background: #f3f8f9;
}

.m_check_right a:hover {
	background: #f3f8f9;
}

.m_check_right a i {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 5px;
	margin-top: -15px;
	line-height: 1;
	font-size: 30px !important;
}

.m_check_right span {
	padding: 3px;
}

.m_check_right .f16 {
	font-size: 16px;
}

.m_check_right .c_pass {
	color: #29d179;
	font-size: 14px;
}

.m_check_right .c_nopass {
	color: #eb6809;
	font-size: 14px;
}

.m_check_success {
	background: url(../imgs/green.jpg) 70px center no-repeat;
}

.m_check_error {
	background: url(../imgs/orange.jpg) 70px center no-repeat;
}

.exit_bt {
	display: block;
	margin-left: 10px;
	line-height: 17px;
	font-size: 14px !important;
	float: right;
	cursor: pointer;
	color: #d2e6f7 !important;
}

.exit_bt:hover {
	color: #fff !important;
}

.psLogin {
	cursor: pointer;
}

.psRegister {
	cursor: pointer;
}

.c_nopass .mh_downlaod {
	display: inline-block;
	padding: 0;
	padding-left: 20px;
	color: #0994dc;
}

.c_nopass .mh_downlaod:hover {
	text-decoration: underline;
}


.swf_form_item {
	position: relative;
	padding-bottom: 4px;
	padding-top:4px;
	font-size:14px;
	*zoom: 1;
}

.swf_form_item * {
	box-sizing: content-box;
}

.swf_form_item .swf_label {
	font-size: 14px;
	display: block;
	position: absolute;
	height: 30px;
	line-height: 30px;
	left: 0;
	top:4px;
	text-align: right
}

.swf_form_item .swf_input_box {
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}

.swf_form_item .swf_input_box input {
	display: block;
	text-indent: 6px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 4px 0;
	/* background: none; */
	outline: none;
	border: none;
}

.swf_form_item .swf_form_btn {
	display: block;
	background-color: #1e9fff;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	font-size: 14px;
	color: #fff !important;
	text-align: center;
	border: none;
}

.swf_str5 {
	padding-left: 5em;
}

.swf_str5 .swf_label {
	width: 4em;
	padding-right: 1em;
}

.swf_str3{
	padding-left:4em;
}

.swf_str3 .swf_label {
	width: 3em;
	padding-right: 1em;
}
.swf_with_btn {
	padding-right: 147px!important;
}

.swf_btn_yzm {
	display: block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #53acf3 !important;
	border: 1px #53acf3 solid;
	width: 140px;
	position: absolute;
	top:4px;
	right: 0;
	border-radius: 3px;
	cursor: pointer;
}
.swf_btn_yzm:hover{
	background-color: #edf6fc!important;
	color: #3e9be5;
	border: 1px #3e9be5 solid;
}
.swf_img_yzm {
	display: block;
	height: 30px;
	width: 140px;
	position: absolute;
	top:4px;
	right: 0;
	cursor: pointer;
}
.swf_img_yzm img{
	display:block;
	height:30px;
	width: 100%;
	margin:0!important;
	border-radius: 3px;
	border:none!important;
}
.swf_form_item .layui-inline{
	vertical-align: top;
}
.swf_lh30{
	/* padding-left: 5em; */
	display:block;
	height:30px;
	line-height:30px;
	color: #e88122;
	font-size: 14px;
}
.swf_form_item .layui-form-select .layui-input{font-size:14px!important;}
.swf_form_item .layui-form-select .layui-input:-ms-input-placeholder{
	color: #ccc;
}
.airTest{
	text-indent: 2em;
}
.airTestDown{
	margin: 0 5px;
	color: #0994dc;
	text-decoration: underline;
}
.pdl2em{
	padding-left: 2em;
}

.wep_loginlogin .pdl0{
	padding-left: 0;
}
.pdl1em{
	padding-left: 1em;
}

#wep_form_dxdl .changePer{
	margin-left: -26px;
	width: 6em;
}



/*下载弹框页面*/
.wxl_downLoad table {
    width: 94%;
    margin: 0 auto;
    font-size: 14px;
}
/*.login_wrap{
	top: 110px !important;
	!* left: 1055px; *!
    right: 40px !important;
}*/
.wxl_downLoad table th{
	background: #e9e9e9;
	font-weight: bold;
}
.wxl_downLoad table td,.wxl_downLoad table th{
	border:1px solid #c3c3c3;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color:#444;
}
.companyName{
    font-size: 18px;
    color: #fff;
    display: none;
    position: relative;
    top: -20px;
    cursor: default;
}
.wxl_downLoad table td a{
	text-decoration: underline;
	color:#4585EB;
}
