/* 
 * My97 DatePicker 4.8
 * skin defult/Madrid
 * author 王丹玲
 * time 2018-11-07
 */
/*body{
	width:250px;
	margin:-3px;
} */
/*div[lang="zh-cn"]{
	width: 250px;
}*/
.WdateDiv{
	width:246px;
	background-color:#FFFFFF;
	border: #dfdfdf 1px solid;
	/*margin: 3px;*/
	font-size: 12px;
	font-family: 'Microsoft YaHei','SimSun';
	box-shadow: 0px 0px 2px 1px #eee;
	box-sizing: border-box;
}

.WdateDiv2{
	width: 492px;
}
.WdateDiv2 > div{
	border-left: #dfdfdf 1px solid;
	border-right: #dfdfdf 1px solid;
}
.WdateDiv *{
	font-size: 1em;
	outline-style: none;
}

.WdateDiv .navImg{
	display:block;
	cursor:pointer;
	height: 16px;
	width: 25px;
	margin-top: 12px;
}

.WdateDiv .NavImgll{
	/* 	float:left; */
	background: transparent url(icon.png) no-repeat scroll -11px -8px;
}
.WdateDiv .NavImgl{
	/* 	float:left; */
	background: transparent url(icon.png) no-repeat scroll -10px -33px;
}
.WdateDiv .NavImgr{
	/* 	float:right; */
	background: transparent url(icon.png) no-repeat scroll 2px -64px;
}
.WdateDiv .NavImgrr{
	/* 	float:right; */
	background: transparent url(icon.png) no-repeat scroll 2px -89px;
}

.WdateDiv #dpTitle{
	height: 38px;
	/* margin-bottom:2px; */
	box-sizing: border-box;
	padding: 0 16px;
	border-bottom: #d2d2d2 solid 1px;
	/* background: #0895dd; */
}

.WdateDiv .yminput{
	margin-top: 5px;
	text-align:center;
	height: 28px;
	line-height: 28px;
	border:0px;
	width: 55px;
	cursor:pointer;
	background: transparent;
	color: #000;
}

.WdateDiv .yminputfocus{
	margin-top: 5px;
	text-align:center;
	font-weight:bold;
	height: 28px;
	color: #0895dd;
	border: #a7d8f1 1px solid;
	width: 55px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border: #dcdcdc 1px solid;
	/* display:none; */
	box-shadow: 0px 0px 1px 1px #eee;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	/*padding-right: 5px;*/
}

.WdateDiv .menuOn{
	cursor:pointer;
	color: #fff;
	background-color:#0895dd;
}

.WdateDiv .invalidMenu{
	color:#aaa;
	cursor: not-allowed;
}

.WdateDiv .YMenu{
	margin-top: 39px;
	/*left: 110px !important;*/
	padding: 5px;
}
.WdateDiv .YMenu table{
	color: #999;
}
.WdateDiv .YMenu table:first-child{
	/* padding: 5px; */
	width: 100%;
	color: #000;
}
.WdateDiv .YMenu table:first-child td{
	width: 50%;
	text-align: center;
	line-height: 2em;
}
.WdateDiv .YMenu td{
	width: 1.6em;
	text-align: center;
	line-height: 2em;
}
.WdateDiv .MMenu{
	margin-top: 39px;
	/* width:62px; */
	/*left: 52px !important;*/
}
.WdateDiv .MMenu table{
	padding: 5px;
}
.WdateDiv .MMenu td{
	width: 2.5em;
	text-align: center;
	line-height: 2em;
}
.WdateDiv .hhMenu{
	margin-top:-90px;
	margin-left: 14px !important;
}
.WdateDiv .hhMenu table{
	padding:5px;
	text-align:center;
}
.WdateDiv .mmMenu{
	margin-top:-46px;
	margin-left: 14px !important;
}
.WdateDiv .mmMenu table{
	padding:5px;
	text-align:center;
}
.WdateDiv .ssMenu{
	margin-top:-24px;
	margin-left: 86px !important;
}
.WdateDiv .ssMenu table{
	padding:5px;
	text-align:center;
}
.WdateDiv .Wweek {
	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
}
.WdateDiv .Wweek table{
	padding:5px;
	text-align:center;
}
.WdateDiv .MTitle{
	background-color: #fff;
	color: #999999;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border: #ffffff 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height: 28px;
	/* border: #dfdfdf 1px solid; */
	border-bottom: none;
	padding: 5px;
}
.WdateDiv .WdayTable td{
	text-align: center !important;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background: url(icon.png) no-repeat 1px -196px;
	/*background:#0895dd;*/
	color: #fff;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF2F2F;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#000;
	background: url(icon.png) no-repeat 1px -196px;
	color: #fff;
	/*background:#0895dd;*/
}
.WdateDiv .Wtoday{
	cursor:pointer;
	background: url(icon.png) no-repeat 1px -232px;
	/*background:#e1e1e1;*/
}
.WdateDiv .Wselday{
	background: url(icon.png) no-repeat 1px -196px;
	/*background:#0895dd;*/
	color: #fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{
	cursor:pointer;
	color: #d2d2d2;
}

.WdateDiv .WotherDayOn{
	cursor:pointer;
	/*background-color:#C0EBEF;	*/
	background: url(icon.png) no-repeat 1px -196px;
	/*background:#0895dd;*/
	color: #fff;
}

.WdateDiv .WinvalidDay{
	color:#aaa;
	cursor: not-allowed;
}

.WdateDiv #dpTime{
	/* margin-top:3px; */
	/* margin-right:30px; */
	height: 26px;
	clear: both;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 5px;
	border-left: #dfdfdf 1px solid;
	border-right: #dfdfdf 1px solid;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width: 26px;
	height: 24px;
	text-align:center;
	border:#ccc 1px solid;
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height: 24px;
	line-height: 24px;
	width: 20px;
	margin: 0;
	padding: 0;
	border: 1px #ccc solid;
	background: url(icon.png) no-repeat -8px -120px;
	float: right;
	position:  absolute;
	top: 0px;
}
.WdateDiv #dpTime #dpTimeUp:hover{
	opacity :0.8;
	filter:alpha(opacity=80);
}
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(icon.png) no-repeat -48px -16px;
}
.WdateDiv #dpTime > table{
	padding-left: 0;
	float: right;
}
.WdateDiv #dpTime table td{
	line-height: 2em;
	vertical-align: baseline;
	position:  relative;
	min-width: 30px;
}
.WdateDiv #dpQS {
	opacity :1;
	filter:alpha(opacity=100);
	float:left;
	margin-left: 14px;
	margin-top: 4px;
	background: url(icon.png) no-repeat -8px -168px;
	width: 18px;
	height: 18px;
	cursor:pointer;
	position:  absolute;
	border: none;
}
.WdateDiv #dpQS:hover{
	opacity :0.8;
	filter:alpha(opacity=80);
}
.WdateDiv #dpQS:active{
	opacity :1;
	filter:alpha(opacity=100);
}
.WdateDiv #dpControl {
	text-align: center;
	padding-bottom: 10px;
	clear: both;
	/* border: #dfdfdf 1px solid; */
	border-top: none;
	box-sizing:border-box;
}
.WdateDiv .dpButton{
	height:20px;
	width:45px;
	border: #fff 1px solid;
	margin-top:2px;
	margin-right:1px;
	background: #fff;
	cursor: pointer;
}
.WdateDiv .dpButton:hover{
	color:#0895dd;
}
.WdateDiv .dpButton:active{
	color:#0c83bf;
}
/*20181111*/
/* 修复ie上第一次弹出时table占不满 */
.WdateDiv div table{
	width:100%;
	background:#fff;
}
/* 修复ie上tr高度超高的问题 */
.WdateDiv .WdayTable td{
	padding:0;
}
/* 修复ie上年份下拉框的颜色 */
.WdateDiv .menu{
	color:#000;
}
/* 修复ie上月份文字竖向排列问题 */
.WdateDiv .MMenu table {
	width:100%;
}
/* 修复ie上月份文字竖向排列问题 */
.WdateDiv .MMenu table {
	width:100%;
}
.WdateDiv .MMenu td{
	width:2.5em;
	padding:0;
}
/* 修复ie上点击左下角时间图标的时候table占不满 */
.WdateDiv > div{
	width:100%;
	/*background:#fff;*/
}

/*wdl?整?式*/
/*.WdateDiv tr{*/
/*display:inline;*/
/*padding:0 4px;*/
/*}*/
/*.WdateDiv .MTitle{*/
/*display:block;*/
/*}*/