body{
    font-size: 12px;
    font-family: "微软雅黑";
    color: #666666;
}
.wxn_container{
    width: 100%;
    background: #F0F3F6;
}

.wxn_content{
    /* width: 1200px; */
    height: 100%;
    /* margin: 0 auto; */
    /* padding-top: 15px; */
}

.wxn_c_header{
    height: 108px;
    width: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    line-height: 108px;
    color: #808080;
    font-weight: 400;
    font-size: 13px;
}

.wxn_c_header img{
    margin-top: 8px;
    margin-left: 22px;
}

.wxn_c_footer{
    margin-top: 10px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #e8e8e8;
}
.wep_xydj_dj{
	font-size: 16px;
	line-height: normal;
	padding: 20px 0 13px 19px;
}
.wep_xydj_op{
	line-height: normal;
	padding-left: 6px;
}
.wep_xydj_dj .wep_dj{
	color: #0087f1;
}
.wep_xydj_op span{
	color: #0d90e7;
	border:1px solid #0d90e7;
	font-size: 14px;
	border-radius: 3px;
	width: 158px;
	text-align: center;
	padding: 8px 0;
	cursor: pointer;
	margin-left: 13px;
	display: inline-block;
}
.wep_c_blxz{
	font-size: 14px;
	line-height: 24px;
	width: 524px;
	border-left: 1px solid #d4d9e1;
	margin: 20px 20px 0 0;
}
.wep_c_blxz p:first-child{
	color: #0087f1;
}
.wep_c_blxz p{
	margin-left: 23px;
}
.wxn_sidebar{
    float: left;
    /*width: 208px;*/
    width: 17%;
    height: 100%;
    /* border-left: 1px solid #d4d9e1; */
    border-right: 1px solid #e8e8e8;
    background: #f6fafd;
}
.wxn_list li{
    /*height: 46px;*/
    /*width: 204px;*/
    width: 100%;
    /*line-height: 46px;*/
    cursor: pointer;
    border-top: 1px solid #f6fafd;
    border-bottom: 1px solid #f6fafd;
    /*background: url(../img/r_arrow.png) no-repeat 170px center;*/
}
.wxn_list li>p{
	height: 46px;
	line-height: 46px;
}
.wxn_list li.active{
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
    border-right:1px solid #f6fafd;
    /*width:208px;*/
    width:100%;
    background:#fff;
    color:#0087f1;
}
.wxn_list li>ul>li{
	padding-left:54px;
	/*height: 40px;*/ /*10-24*/
	line-height: 40px;
}
.wxn_list .wep_wdxx.active{
	border-top:1px solid #f6fafd;
}

.wxn_list p{
    margin-left: 14px;
    padding-left: 16px;
}
.wxn_list p i{
	margin-right:10px;
    vertical-align: middle;
}
.wxn_list p i.icon-arr-right-red{
	font-size: 10px;
	float: right;
}
.wxn_list p:hover{
    color: #0087f1;
}

.wxn_main_contain{
    /*width: 990px;*/
    width: 83%;
    height: 100%;
}
.wep_hdzx{
	height: 100%;
	padding:20px;
	background: #fff;
}
.wep_hdzx_operation{
	/* padding: 24px 0 14px 0; */
}
.wep_hdzx_btn{
	font-size: 12px;
	padding: 6px 12px;
	display: inline-block;
	cursor: pointer;
}
.wep_hdzx_btn1{
	border: 1px solid #afd7f4;
	color: #1e9fff;
	border-radius: 3px;
	background-color: #f1f7fc;
}
/*我的消息*/
 .wxl_wdxx_tab{
 	margin-bottom: 10px;
 }
 .wxl_wdxx_tab li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0px 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
 .wxl_wdxx_tab li.active:before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #0098f4;
}

/*权益保护  纳服投诉页面*/
.wxl_hdzx_nfts{
	padding:10px 30px;
}
.wxl_hdzx_nfts>p span{
	position: relative;
	display: inline-block;
	line-height: 35px;
	height: 35px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 12px;
}
.wxl_hdzx_nfts>p{
	margin-bottom: 10px;
}
.wxl_hdzx_nfts>p span.active:before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #0098f4;
}
.nfts_list_box form .layui-form-label{
	width:100px !important;
	font-size: 12px;
}
.nfts_list_box form .layui-form-item{
	margin-bottom: 5px !important;
}
.wxl_nfts_tk p i{
	margin-right: 5px;
}
.wxl_nfts_tk p i.icon-squarecheckfill{
	color:#1e9fff;
}
.wxl_my_ts input,.wxl_my_ts textarea,.wxl_my_ts select,.wxl_my_ts .layui-form-select{
	width:300px;
	}
.wxl_my_ts textarea{
	height: 60px;
	padding:5px;
	border:1px solid #e2e2e2;
}
#yzmCode_input{
	width:150px;
	display: inline-block;
	margin-right: 5px;
	display: inline-block !important;
}

 #code{
	width:140px !important;
	text-align: center;
}
.wxl_nfts_tk,.wxl_nfts_tdLook,.wxl_nfts_tkPj,.wxl_zcsd_tdLook{
	padding:10px 30px
}
.wxl_nfts_tk p.title{
	border-bottom:1px solid #f2f2f2;
	line-height: 40px;
	margin-bottom: 10px;
}
.wxl_nfts_tk p.readTy{
	padding:20px
}
.wxn_yh_fileP {
    display: inline-block;
    position: relative;
    width: 98px;
    height: 98px;
    /* margin-left: 17px; */
    border: 1px dashed #ccc;
    float: left;
}
.wxn_yh_file {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    margin: 0 22px 0 0;
    /* margin-top: 6px; */
    opacity: 0;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.wep_lawj_btn {
    width: 94px !important;
    font-size: 12px;
    background-color: #fff;
    color: #666;
    border: none;
    border-radius: 3px;
    padding-left: 0;
    vertical-align: middle;
    margin-top: 8px
}
.uploadimg_list{
	display: inline-block;
}
.uploadimg_list .wep_save_box{
    /* text-align: right; */
    /* margin-top: 20px; */
    float: left;
}
.uploadimg_list .wep_save_box ._filelist .imgWrap{
    position: relative;
    padding-left: 0;
}

.uploadimg_list .wep_save_box ._filelist .imgWrap img{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    /* width: 100px; */
    height: 100px;
}
.uploadimg_list .wep_imgcheck {
    /* height: 156px; */
    /* border: 1px dashed #e2e2e3; */
    /* margin: 0 22px 0 20px; */
}
.uploadimg_list .minZtree{
    display: none !important;
}

.uploadimg_list ._filelist li{
    width: 100px !important;
    height: 100px !important;
    text-align: center;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
    margin-right: 10px !important;
}
.uploadimg_list ._filelist li p.imgWrap{
    width: 100px !important;
    height: 100px !important; 
}
.uploadimg_list ._filelist li p.imgWrap img{
    width: 100%;
    height: 100px;
}
.wxn_yh_fileP i{
    display: block;
    margin-top: 20px;
    font-size: 30px;
    color: #888;
    text-align: center;
}
.rotateRight{
    display: none!important
}
.rotateLeft{
    display: none!important
}
.wxn_btn_primary{
    border-radius: 3px;
    font-size: 14px;
    padding: 0 18px;
    cursor: pointer;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background: #1e9fff;
    display: inline-block;
}
.wep_save_box_h{
    display: block
}
/*查看弹框*/
.wxl_nfts_tdLook ul li label,.wxl_nfts_tdLook ul li span{
	height: 40px;
	line-height: 40px;
}
.wxl_nfts_tdLook ul li label,
.wxl_nfts_tkPj ul li label{
	display: inline-block;
	width:100px;
	text-align: right;
     vertical-align: top;
}
.wxl_nfts_tdLook li .view_wxl_start_content i.icon-collection_fill{
	color:#ffc300;
}
.wxl_nfts_tdLook li div,.wxl_nfts_tkPj li div{
	width:300px;
	display: inline-block;
	height: 50px;
}
.wxl_nfts_tdLook li .border_ccc,.wxl_nfts_tkPj li .border_ccc{
	border:1px solid #ccc;
}
.wxl_nfts_tdLook p,.wxl_nfts_tkPj p{
	margin-top: 20px;
}

.wxl_nfts_tkPj li .wxl_start_content i.icon-collection_fill{
	color:#ffc300;
}
.wxl_nfts_tkPj li textarea{
	width:300px;
	height: 60px;
	padding:5px;
	border:1px solid #e2e2e2;
}


/*wdl20181025*/
/*.wdl_nav_list li.active{
	border-bottom:none;
}*/
.wdl_nav_list li.active a{
    width: 100%;
    background: #fff;
    color: #0087f1;
}
/*.wdl_nav_list li{
	border:none;
}*/
.wdl_nav_list li a{
	display: block;
}
.wdl_hdzx_nfts p{
	border-bottom: 1px solid #f2f2f2;
}
/*预约办税*/
.wdl_fz_red{
	color: #c80000;
}
.wdl_fz_red1{
	color: #b6173c;
}
.wdl_fz_blue{
	color: #0085f1;
}
.wdl_fz_green{
	color: #4dc14d;
}
.wdl_btn1:first-child{
	margin-right:20px;
}
.wdl_layui_box{
	padding:30px 30px 40px;
}
.wdl_layui_box label{
	width: 130px;
	line-height: 17px;
	color: #333;
	font-size: 12px;
}
.layui-input, .layui-textarea, .layui-select{
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	line-height: 35px;
	height: 35px;
	color: #333;
	font-size: 12px;
}
.layui-input[readonly]{
	color: #666;
}
/*.wdl_layui_box .layui-form-item .layui-input-inline{
	margin-right: 30px;
}*/
.wdl_layui_box .layui-form-item{
	margin-bottom: 20px;
}
.wdl_layui_input2{
	width: 300px !important;
}
.wdl_layui_input3{
	width: 390px !important;
}
.wdl_li1 {}
.wdl_btn{
	display: block;
	border-radius: 3px;
	font-size: 14px;
	/*padding: 7px 19px;*/
	width: 178px;
	cursor: pointer;
	color: #fff;
	margin-right: 20px;
	border:#41a4f6 solid 1px;
	color: #41a4f6;
	padding: 7px 0;
	text-align: center;
}
.wdl_li1 .active{
	color: #fff;
	border:#41a4f6 solid 1px;
	background: #41a4f6;
}
.wdl_date_div{
	float: left;
	width: 180px;
	text-align: left;
	margin-right: 20px;
}
.wdl_date_div h1{
	font-weight:bold;
	line-height:35px;
	color: #333;
	padding:0 20px;
}
.wdl_date_div > a{
	display: block;
	border:#eaeffc solid 1px;
	border-radius: 3px;
	padding: 10px 20px 5px;
	margin-bottom: 5px; 
	color: #333;
	box-shadow: 1px 1px 2px #eee;
	-webkit-box-shadow: 1px 1px 2px #eee;
}
.wdl_date_div > a p{
	line-height: 25px;
}
/*.wdl_date_div .wdl_first_a{
	border-radius: 3px 3px 0 0;
}
.wdl_date_div .wdl_second_a{
	border-radius: 0 0 3px 3px;
}*/
/*.wdl_bt0{
	border-top: none !important;
}*/
.wdl_date_div .active{
	background: #eff7ff;
	border:#b6dbff solid 1px;
}
.wdl_btn2{
	padding: 7px 40px;
	width: auto;
	background: #0198f4;
	border: none;
	color: #fff;
	margin-right:0;
}
.wdl_mb30{
	margin-bottom: 80px;
}
.wdl_pr{
	position: relative;
}
.wdl_btn_box{
	position: absolute;
	left: 160px;
	/* right: 70px; */
	/*bottom: 20px;*/
}
/* 预约须知 */
.wdl_yyxz_tk{
	padding:10px 30px
}
.wdl_yyxz_tk p.title{
	border-bottom:1px solid #f2f2f2;
	line-height: 40px;
	margin-bottom: 10px;
}
.wdl_yyxz_tk .wdl_yyxz_icon{
	padding:20px
}
.wdl_yyck{
	background: #fff;
}
.wdl_yyck .layui-disabled,.wdl_yyck .layui-disabled:hover{
	color: #666 !important;
}
.wdl_yyck .wdl_li1 .active{
	cursor: not-allowed !important;
	background: #eee;
	border-color: #e6e6e6;
	color: #666;
}
.wdl_yyck .wdl_layui_box{
	padding:20px 30px 30px;
}
.wdl_yyck .wdl_yyck_btn{
	padding-left:100px;
}
.wdl_yyck .wdl_yyck_btn .wdl_btn{
	width: 80px;
	padding: 7px 0;
	float:left;
}
.wdl_yyck .wdl_yyck_btn .wdl_btn1{
	padding:6px 0;
	margin-left:30px;
}
.area_detail p .iconfont{
	color: #1180d9;
	font-size: 24px;
	line-height: 26px;
}
.area_detail p   .yj{
	color: #ff6633!important;
}
.area_detail p   .ybyj{
	color: #ffa533!important;
}
.area_detail p   .byj{
	color: #00bbf2!important;
}
.wdl_imgSlider .area_top{
	height: 50px;
	padding-right: 50px;
	font-size: 14px;
	position: relative;
	cursor: pointer;

}

.wdl_imgSlider .area_top .area_name{
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
}

.wdl_imgSlider .area_detail p{
	text-align: right;
	line-height: 50px;
}
.wdl_imgSlider .area_detail p span{
   margin-right: 10px;
}
.wdl_imgSlider li{
	border-bottom:1px solid #d4e4f0 ;
}

.wdl_imgSlider .icon-down1{
	position: absolute;
	right: 20px;
	top: 15px;
}

.wdl_imgSlider .icon-arr-right-red{
	position: absolute;
	right: 20px;
	top: 15px;
}

.wdl_imgSlider .area_bottom div{
	line-height: 30px;
}

.wdl_imgSlider .area_bottom{
	padding: 10px;
	background: #fcf9ff;
	display: none;
}

.wdl_imgSlider .yyNow{
	margin-top:10px;
	margin-left: 20px;
}
.wdl_imgSlider .yyNow a{
	color: #fff;
}
.hdzx_ck{
	border-collapse: collapse;
	margin: 10px auto;
	width: 99%;
}
.hdzx_ck tr td{
	border: 1px solid #e6e6e6;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;

}
.hdzx_ck .text-right{
	text-align: right;
	padding-right: 10px;
}
.hdzx_ck .table_tit{
	background: #f0f3f6;
}
.hdzx_ck .icon-collection_fill{
    color: #ffc300;
}
.wxl_bg_blue:hover,.wdl_btn2:hover{
	background-color: #3e9be5;
}