<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState cookieless="false" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="480" />
  </system.web>
  <appSettings>
    <!--接口地址
    <add key="tikupath" value="http://192.168.2.43:688" />-->
    <add key="tikupath" value="http://192.168.2.43:688" />
    <!--开票接口地址-->
    <add key="billpath" value="http://192.168.1.72:8022" />
    <!-- 主数据库-->
    <add key="Practicepath" value="http://192.168.1.72:8044" />
    <!--地税地址-->
    <add key="Dtxpath" value="http://192.168.1.80:8190" />
  
   <add key="CourseId" value="219"/>
  </appSettings>
</configuration>