@charset "utf-8";
/* CSS Document */

/* 公共样式 */
body {font-family: Arial, "宋体", Helvetica, sans-serif;font-size:12px;text-decoration: none;padding:0px;margin:0px;}
a {text-decoration: none;color:#fff;}
a:hover {text-decoration: none;color: #F00;}
dl,dt,dd,ul,li {margin: 0px;padding: 0px;}
ul {list-style-type:none;}
img {border: 0px;}
p{line-height:23px;}
.clear {clear:both;}
.left{ float:left;}
.right{ float:right;}
.h70{height:70px;}


#nanning{position:absolute;bottom:0px;left:30%;z-index:1;}
#content{position:absolute;z-index:2;}
#logo{text-align:center;}
.container{text-align:left;}
.Condition{padding-left:15px;color:#fff;}
#search{width:805px;}
.search_bg{width:700px;height:72px;background:url(../image/images/search_bg.png) repeat-x;}
.search_bg a{position:relative;top:15px;}
.text01{background:url(../image/images/search_text.png) no-repeat;width:470px;height:40px;border:0px; padding:10px 15px; position:relative;}
#function ul li,#helper ul li{line-height:20px;float:left;}
#function ul li{ margin:20px 100px 20px 0px;}
#helper ul li{margin:20px 50px 20px 0px;}
.icons01{padding:5px 10px 0 0;}
#function ul li a,#helper ul li a{font-size:14px;text-decoration:underline;font-weight:bold;cursor:pointer;}


.head{background:url(../image/images/head_bg.png) repeat-x;height:100px; padding:25px 0px 0px 25px;}
.term{padding-left:25px;font-size:14px;color:#0a99dc;font-weight:bold;margin-bottom:15px;}
.text02{width:80%;height:23px;border:1px solid #d5d5d5;background-color:#f6f5f5;line-height:23px;padding-left:10px;}
.clear-bt{background:url(../image/images/clear_bt.png) no-repeat;width:52px;height:24px;border:0; cursor:pointer;}

.text03{background:url(../image/images/search_text.png) no-repeat;width:450px;height:25px;border:0px; padding:10px 15px; position:relative;}
.title01{font-size:24px; color:#fff;font-weight:bold;}

.tite{height:30px;}