body{font:normal 12px verdana;margin:0px 0 1px 0; padding:0px 0px 0px 0px;;border:0;}

/* 提示信息 */
.tooltip2 {
background-color: white; clip: rect(0px 150px 50px 0px); height: 0px; left: 379px; position: absolute; top: 45px; visibility: visible; width: 100px; z-index: 2;
}
.nstip {width:500px;background:white;position:absolute; left:374px; top:164px ;}


/* mbox */
.mbox_win{border:1px solid #fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ebebeb; -moz-box-shadow:0 0 5px rgba(0, 0, 0, .7); -webkit-box-shadow:0 0 5px rgba(0, 0, 0, .7); box-shadow:0 0 5px rgba(0, 0, 0, .7); overflow:hidden;}
/*圆角*/
.mbox_bar{line-height:18px; padding:6px 10px 7px; border-bottom:1px solid #ddd; background-color:#fbfbfb; font-size:13px;}
.mbox_cont{}
.mbox_close{width:14px; height:14px; margin:-25px 10px 0 0; border:1px solid #d8d8d8; color:#999; font:bold 12px/14px Tahoma; text-align:center; text-decoration:none; float:right; position:relative;}
.mbox_close:hover{border-color:#ccc; background-color:#eee; color:#666; text-decoration:none;}
.mbox_operate{padding:0 10px 10px; text-align:right;}

.mbox_alert,.mbox_confirm {width:320px; padding:35px 20px;}
.mbox_remind {width:300px; padding:5px 5px;z-index:9999;background-color:#eee;border:1px solid #fff;   }

.mbox_loading{width:180px; padding:30px 0; text-align:center;}
.mbox_loading_image{margin:0 8px -8px 0;}

/*测试页面样式 position:absolute; left:26px; top:20px; z-index:999; */
.a_test_box{width:300px; padding:20px;}
.for_scroll{height:600px;}


/* mbox end */

