@CHARSET "UTF-8";
.sGrid_bottom_row_div {
	display: block;
	float: left;
	height: 25px; /*因此高度与js有关，请尽量不要修改此值！！*/
	line-height: 25px; /* 因此高度与js有关，请尽量不要修改此值！！*/
	border-right: 1px solid #C1DAD7;
	margin-left: -1px;
	overflow: hidden;
	white-space: nowrap; /*防止文字太长时候自动折行*/
	text-overflow: ellipsis; /*ie下 可以自定出省略号，ff不支持*/
}

.sGrid_bottom {
	height: 26px;
	border-top: 0px;
	border-bottom: 1px solid #C1DAD7;
	background: url(images/gridbottombg.png) repeat-x scroll 0 0 transparent;
}

.gridleft_outer {
	float: left;
	border: 1px solid #C1DAD7;
	border-right: none;
	border-bottom: none;
}

.gridleft_inner_bbottom {
	float: left;
	border-bottom: 1px solid #C1DAD7;
	text-align: center; height : 25px;
	line-height: 25px;
	height: 25px;
}

.gridlefthead{
	background:#E4F0FC url(images/table2.png) repeat-x;
	float:left;
	border-bottom: 1px solid #C1DAD7;
	text-align: center; height : 25px;
	line-height: 25px;
	height: 25px;
}

.gridleft_inner_last {
	float: left;
	border-bottom: 2px solid #C1DAD7;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.gridleft_inner_bright {
	float: left;
	border-right: 1px solid #C1DAD7;
	text-align: center;
}

.gridleft_inner_bnone {
	float: left;
	height: 25px;
	line-height: 25px;
}

.gridexhead{
	background:#E4F0FC url(images/table2.png) repeat-x;
	border:1px solid #C1DAD7;
	float:left;
}
.fudghLayout{
	margin: 0 auto; 
	overflow:auto;
	border: 1px solid #C1DAD7;
	position: relative;  /*ie6样式问题*/
}